%dl
  %dt Name:
  %dd= @user.login

%h1 All feeds manage

= link_to 'Create feed', new_feed_path
%table
  %thead
    %tr
      %th Feed
      %th login_to_push
  %tbody
    - @user.feeds.each do |feed|
      %tr
        %td= feed.url
        %td= feed.login_to_push
        %td= button_to "Delete", feed_url(feed), :confirm => "Are you sure?", :method => :delete

= link_to 'Edit', edit_user_path(@user)
